html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	background-color: #2F3136;
	color: #fff;
	font-size: 24px;
	padding: 20px;
	text-align: center;
}

.content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.main-content {
	background-color: #202225;
	flex-grow: 1;
	padding: 20px;
}

.sidebar {
	background-color: #2F3136;
	width: 33.33%;
}

/* Contained in sidebar */
table {
    border-collapse: collapse;
    background-color: #202225;
    flex-grow: 1;
	margin: 0 auto; /* centers div horizontally within parent */
    width: 100%;
}
  
th{
    color:#fff;
	border-bottom: 2px solid #ccc;
}

td{
	border-bottom: 1px solid #2F3136;
}

td, th {
    padding: 15px;
    text-align: center;
    color: white;
}

/* Contained in main-content */

.song-info{
    color: white;
    text-align: center;
}

#name{
    font-size: 20pt;
    margin: 0;
}
#artist{
    margin-top: 5pt;
    font-style:italic;
}

#lyrics{
	flex-grow: 1;
	padding: 20px;
	text-align: center; /* centers text */
	max-width: 300px; /* limits width of text */
	word-wrap: break-word; /* allows words to wrap to next line */
	margin: 0 auto; /* centers div horizontally within parent */
    color: white;
}

.input{
	height: 50px;
	width: 100%;
	/* background-color: red; */
}
.search-box {
	position: relative;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	display: flex;
  }
  
.search-box input[type="text"] {
	width: 50%;
	padding: 12px 20px;
	border-radius: 10px;
	border: none;
	background-color: #f2f2f2;
}
  
.search-box button[type="submit"] {
	background-color: #f2f2f2;
	padding: 10px 10px;
	border-radius: 10px;
}
  
.search-box button[type="submit"]:hover {
	cursor: pointer;
}
  
.fa-search {
	font-size: 20px;
	color: #555;
}
  