<!DOCTYPE html>
<html>
<head>
	<title>Lyridact - Guess the Song!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- <audio id="myAudio" src="/static/victory.mp3"></audio> -->
</head>
<body>
	<div class="wrapper">
        <div class="overlay"></div>
        <div class = "popup" id="popup">
            <h2 id="popup-header">How To Play</h2>
            <p id="popup-text">
                Welcome to "Lyridact" - a fun guessing game where you are given a random song every day from Spotify's U.S. Top 50 Charts with some of the lyrics redacted. 
                <br>Your goal is to input one word at a time until you can solve the title of the song. 
                <br>The game has three levels, and you can only progress to the next level after beating the previous one.
                <br><br>Goodluck!
            </p>
            <div class="username-input">
                <form>
                    <div class="username-box">
                        <input type="text" id="name-input" placeholder="Enter a username to publish your score!">
                        <button type="submit" id="guess-btn"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div id = "leaderboard">
                <h3>Top 5 Players Today</h3>
                <table id = "leaderboard-table">
                    <thead id = "leaderboard-table-header">
                        <tr>
                            <th>Player</th>
                            <th># Guesses</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <button type="button" onclick="closePopup()" id="popup-button">Play</button>
        </div>
		<div class="title">Lyridact - Guess the Song!</div>
		<div class="content">
			<div class="main-content">
                <div class = "song-info">
                    <p id = "name"></p>
                    <p id  = "artist"></p>
                </div>
                <p id = "lyrics"></p>
            </div>
			<div class="sidebar">
                <div class="input">
                    <form>
                        <div class="search-box">
                            <input type="text" id="guess-input" placeholder="Guess a Word!">
                            <button type="submit" id="guess-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <table id = "guessTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Guess</th>
                            <th>Hits</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
		</div>
	</div>
    <script>
        let usedGuesses = [];
        let level = 1;
    </script>
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    <script>
        usedGuesses = {{ wordlist | tojson }}; 
        level = {{ currentLevel }};
    </script>
</body>
</html>
